<div class="row mt-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body" style="min-height: 80vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">

        <% params[:resource_name].presence&.then do |name| %>
          <%= tag.h5 name, class: "mb-4" %>
        <% end %>

        <%= form_with scope: :authorization, url: authorizations_path, class: "row gy-2 gx-3 align-items-center justify-content-center mb-4 d-flex" do |form| %>
          <%= form.hidden_field :resource_gid, value: params[:resource_gid] %>
          <%= form.hidden_field :expires_at, value: params[:expires_at] %>
          <div class="col-auto">
            <div class="input-group">
              <%= form.label :access_code, "密码", class: "input-group-text" %>
              <%= form.text_field :access_code, placeholder: "请输入密码", class: "form-control" %>
            </div>
          </div>
          <div class="col-auto">
            <%= form.button "提交", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
