<% content_for :head_additions do %>
  <%= javascript_import_module_tag "easy_style/stimulus" %>
  <%= javascript_import_module_tag "easy_style/controllers/form_controller" %>
<% end %>

<section class="flex-auto m-3">
  <div class="card h-100 d-flex flex-center">
    <div class="card-body d-flex flex-center flex-direction-column">

      <% params[:resource_name].presence&.then do |name| %>
        <%= tag.h3 name, class: "mb-4" %>
      <% end %>

      <%= form_with scope: :authorization, url: authorizations_path, data: { controller: "form" }, class: "form" do |form| %>
        <%= form.hidden_field :resource_gid, value: params[:resource_gid] %>
        <%= form.hidden_field :expires_at, value: params[:expires_at] %>

        <div class="form-field align-items-center flex-wrap gap-2">
          <%= form.text_field :access_code,
            data: { action: "form#validateField" },
            placeholder: "请输入密码",
            class: "form-control input-medium",
            required: true %>
          <%= tag.div t("anonymous_authorization.required"), class: "invalid-feedback" %>
          <%= button_tag data: { action: "form#validateForm" }, class: "btn btn-primary" do %>
            <%= tag.span class: "loading-spinner" %>
            <%= tag.span t("anonymous_authorization.submit") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
